@charset "UTF-8";

/* cores:
#BFA9ED roxo claro
#AFA3EF roxo medio
#A396E7 #20004b roxos escuros*/

@media screen and  (max-width: 932px) {
    #login{
        width: 90vw;
        height: 90vh;
    }

    #photo{
        height: 20%;
    }

    #container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 933px) and (max-width: 1024px){
    #login {
        width: 80vw;
        height: 70vh;
    }

    #photo {
        float: left;
        width: 30vw;
        height: 100vh;
    }

    #container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1%;
    }
}

@media screen and (min-width: 1024px){
    #login {
        width: 80vw;
        height: 70vh;
    }

    #photo {
        float: left;
        width: 40vw;
        height: 100vh;
    }

    #container{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1%;
    }
}