@charset "UTF-8";

/* cores:
#BFA9ED roxo claro
#AFA3EF roxo medio
#A396E7 #20004b roxos escuros*/

@media screen and  (max-width: 768px) {
    #login{
        width: 350px;
        height: 600px;
    }

    #photo{
        height: 200px;
    }

    #forms{
        display: flex;
        flex-direction: column;
        padding: 14px;
        text-align: center;
        margin-top: 25px;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .buttoninput{
        background-color: #BFA9ED;
        justify-content: center;
        border: none;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    .inputwidth{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    
   body{
        background-image:linear-gradient( to bottom,#AFA3EF 70%, #20004b71);
   }

    #login {
        width: 80vw;
        height: 80vh;
    }

    #photo {
        float: left;
        width: 30%;
        height: 100%;
    }

    #forms{
        display: flex;
        flex-direction: column;
        padding: 14px;
        text-align: center;
        margin-top: 250px;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .buttoninput{
        background-color: #BFA9ED;
        justify-content: center;
        border: none;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    .inputwidth{
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    
   body{
        background-image:linear-gradient( to bottom,#AFA3EF 70%, #20004b71);
   }

    #login {
        width: 80vw;
        height: 80vh;
    }

    #photo {
        float: left;
        width: 40vw;
        height: 100vh;
    }

    #forms{
        display: flex;
        flex-direction: column;
        padding: 14px;
        text-align: center;
        margin-top: 250px;
    }

    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 20px;
    }

    .buttoninput{
        background-color: #BFA9ED;
        justify-content: center;
        border: none;
        margin-top: 20px;
        padding: 10px;
        width: 67%;
    }

    .inputwidth{
        width: 62%;
    }

}