@charset "UTF-8";

/* cores:
#BFA9ED roxo claro
#AFA3EF roxo medio
#A396E7 #20004b roxos escuros*/

@media screen and  (max-width: 768px) {
    #login{
        width: 70vw;
        height: 70vh;
    }

    #photo{
        height: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #login {
        width: 80vw;
        height: 80vh;
    }

    #photo {
        float: left;
        width: 30vw;
        height: 100vh;
    }
}

@media screen and (min-width: 1024px){
    #login {
        width: 80vw;
        height: 80vh;
    }

    #photo {
        float: left;
        width: 40vw;
        height: 100vh;
    }
}